<% if f.object.new_record? %>
  <% ['A', 'B', 'C', 'D'].each_with_index  do |label, i|%>
    <div class="apoll_options" style="display: block;">
    <%= f.fields_for :answers, answer, child_index: id + i do |att| %>
      <%= att.hidden_field :user_id, value: 1 %>
      <%= att.hidden_field :label, value: label %>
      <%= att.hidden_field :_destroy %>
        <!-- <p class="form-submit add_poll">
          <button type="button" class="button color small submit add_poll_button add_poll_button_js"><i class="icon-plus"></i>Add Field</button>
        </p> -->
        <ul class="question_poll_item question_polls_item ui-sortable">
          <li id="poll_li_5" style="display: inline;">
            <div class="poll-li">
              <p><%= att.text_field :content, placeholder: "Noi dung Phuong an " %></p>
              <div class="del-poll-li remove_fields"><%= link_to "<i class='fa fa-remove'>".html_safe, "javascript:void(0)", class: "remove_fields btn btn-danger btn-mini" %></i></div>
              <span><%= att.file_field :image %></span>
              <% if answer && answer.image? %>
                <span><%= link_to answer.image_url, answer.image_url  %></span>
                <div><img src="<%= answer.image_url %>" class='img-list-product' /></div>
              <% end %>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
    <% end %>
    </div>
  <% end %>
<% else %>
  <div class="poll_options" style="display: block;">
  <%= f.fields_for :answers, answer, child_index: id do |att| %>
    <%= att.hidden_field :user_id, value: 1 %>
    <%= att.text_field :label, value: answer.label || 'A' %>
    <%= att.hidden_field :_destroy %>
      <!-- <p class="form-submit add_poll">
        <button type="button" class="button color small submit add_poll_button add_poll_button_js"><i class="icon-plus"></i>Add Field</button>
      </p> -->
      <ul class="question_poll_item question_polls_item ui-sortable">
        <li id="poll_li_5" style="display: inline;">
          <div class="poll-li">
            <p><%= att.text_field :content, placeholder: "Noi dung Phuong an " %></p>
            <div class="del-poll-li remove_fields"><%= link_to "<i class='fa fa-remove'>".html_safe, "javascript:void(0)", class: "remove_fields btn btn-danger btn-mini" %></i></div>
            <span><%= att.file_field :image %></span>
            <% if answer && answer.image? %>
              <span><%= link_to answer.image_url, answer.image_url  %></span>
              <div><img src="<%= answer.image_url %>" class='img-list-product' /></div>
            <% end %>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
  <% end %>
  </div>
<% end %>