<div class="form-posts">
  <div class="form-style form-style-3 question-submit">
    <div class="ask_question">
      <div>
        <%= form_for(@question) do |f| %>
          <div class=""><%= render partial: "errors", locals: { object: @question } %></div>

          <div class="form-inputs clearfix">
            <p>
              <label class="required"><%= h_model(f, :title) %><span>*</span></label>
              <%= f.text_field :title, class: 'the-title' %>
              <span class="form-description">Hãy chọn tiêu đề ngắn ngọn và dễ hiểu !^^</span>
            </p>

            <p>
              <label class="required"><%= h_model(f, :category_id) %><span>*</span></label>
              <span class="styled-select">
              <%= f.collection_select :category_id, Category.all, :id, :name, selected: @question.category_id, class: 'postform' %>
              </span>
            </p>

            <p>
              <label class="required"><%= h_model(f, :content) %><span>*</span></label>
              <%= f.text_area :content, class: 'the-title the-textarea' %>
            </p>

            <p>
              <label class=""><%= h_model(f, :video_url) %></label>
              <input type="checkbox" name="" class="video_question" "<%=@question.video_url.present? ? 'checked' : ''%>" /> Đăng video mô tả cho câu hỏi
              <br/>
              <%= f.text_field :video_url, class: 'the-title video_field', placeholder: 'Link youtube hoac facebook video', style: "display: #{@question.video_url.present? ? '' : 'none'};" %>
            </p>

            <p>
              <label class=""><%= h_model(f, :image) %></label>
              <img src="<%= @question.image %>">
              <input type="checkbox" name="" "<%=@question.image.present? ? 'checked' : ''%>" class="image_question" /> Đăng ảnh mô tả cho câu hỏi
              <span class="fileinputs" style="display: <%= @question.image ? '' : 'none'%>">
                <%= render partial: 'attachment_field', locals: {f: f} %>
              </span>
            </p>

            <p>
              <label><%= h_model f, :hint %></label>
              <%= f.text_area :hint, class: 'the-title the-textarea' %>
            </p>

            <p>
              <label class="required"><%= h_model f, :level_id %><span>*</span></label>
              <span class="styled-select">
              <%= f.collection_select :level_id, Level.all, :id, :name, selected: @question.level_id, class: 'postform' %>
              </span>
            </p>

            <p>
              <label class="required"><%= h_model f, :difficulty_level %><span>*</span></label>
              <span class="styled-select">
              <%= f.select :difficulty_level, Settings.questions.difficulty_level.map{|level| [t("views.answers.difficulty_level.#{level}"), level]}, selected: @question.difficulty_level, class: 'postform' %>
              </span>
            </p>

            <p class="question_poll_p" id="input_attachments">
              <label for="question_poll-298"><%= h_model f, :poll %></label>
              <% unless @question.new_record? %>
                <% @question.answers && @question.answers.each_with_index do |answer, i| %>
                  <%= render "answer_fields", {answer: answer, f: f, id: i} %>
                <% end %>
                <%= link_to_add_attachment t(:button_add_answer, scope: [:views, :labels]), f, :answers, {append_id: "input_attachments", table_id: " link_to_add_attachment", class: "btn btn-warning btn-mini" } %>
              <% else %>
                <span class="question_poll">Đây là một câu hỏi trác nghiệm?</span>
                <span class="poll-description"> Click vào đây .</span>
                <%= link_to_add_attachment t(:button_add_answer, scope: [:views, :labels]), f, :answers, {append_id: "input_attachments", table_id: " link_to_add_attachment", class: "btn-warning btn-mini" } %>
              <% end %>
            </p>
          </div>

          <div class="center">
            <% button = @question.new_record? ? :button_create : :button_edit %>
            <p class="form-submit">
              <%= f.submit t(button, scope: [:views, :labels]), class:"button color small submit add_qu publish-question", id: "button_submit" %>
            </p>
            <%= link_to t(:button_cancel, scope: [:views, :labels]), questions_path, class:"btn btn-danger button color small submit add_qu publish-question center" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>