<aside class="col-md-3 sidebar sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
  <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">
    <div class="widget_ask">
      <a href="<%= new_question_path %>" class="color button small margin_0">Ask a Question</a>
    </div>
    <% if current_user %>
      <%= render 'partials/sidebars/user_infor' %>
    <% else %>
      <%= render 'partials/sidebars/login_widget'%>
    <% end %>    

    <%= render 'partials/sidebars/stat'%>
    <%= render 'partials/sidebars/social_network' %>

    <%= render 'partials/sidebars/highest_point' %>

    <% render 'partials/sidebars/tags' %>
    <%= render 'partials/sidebars/recent_questions'%>
  </div>
</aside>
<!-- End sidebar -->