  <% title ('Cộng đồng hỏi và trả lời các câu hỏi cho học sinh, sinh viên') %>
  <section class="container main-content page-right-sidebar">
    <div class="row">
      <div class="with-sidebar-container">
        <div class="col-md-9">
          <div class="tabs-warp question-tab">
            <ul class="tabs">
              <li class="tab"><a href="#" data-js="recent_questions" class="current">Recent Questions</a></li>
              <li class="tab"><a href="#" data-js="most_responses">Most Responses</a></li>
              <li class="tab"><a href="#" data-js="recently_answered">Recently Answered</a></li>
              <li class="tab"><a href="#" data-js="no_answers">No answers</a></li>
              <li class="tab"><a href="#" data-js="recent_posts">Recent Posts</a></li>
            </ul>
            <div class="tab-inner-warp" style="display: block;">
              <div class="tab-inner">
                <% Question.all.each do |question| %>
                <article class="question question-type-poll question_author_yes post-266 type-question status-publish hentry question-category-wordpress question_tags-themes" id="post-266" role="article" itemtype="http://schema.org/Article">
                  <h2 itemprop="name">
                    <a itemprop="url" href="<%= question_path(question) %>" title="<%= question.title %>" rel="bookmark"><%= question.title %></a>
                  </h2>
                  <a class="question-report report_q" href="#"><%= t('views.button.report')%></a>
                  <div class="question-type-main"><i class="icon-signal"></i>Poll</div>
                  <div class="question-author">
                    <a href="http://2code.info/demo/themes/ask-me/author/primegods/" original-title="primegods" class="question-author-img tooltip-n">
                    <span></span>
                    <img alt="" src="http://2.gravatar.com/avatar/83fd0d89f0243bcb6b9de278321d86f0?s=65&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/83fd0d89f0243bcb6b9de278321d86f0?s=130&amp;d=mm&amp;r=g 2x" class="avatar avatar-65 photo" height="65" width="65">         </a>
                  </div>
                  <div class="question-inner">
                    <div class="clearfix"></div>
                    <div class="question-desc">
                      <%= question.content %>
                      <div class="explain-reported">
                        <h3><%= t('views.answers.report_reason')%></h3>
                        <textarea name="explain-reported"></textarea>
                        <div class="clearfix"></div>
                        <div class="loader_3"></div>
                        <div class="color button small report"><%= t('views.button.report')%></div>
                        <div class="color button small dark_button cancel"><%= t('views.button.cancel')%></div>
                      </div>
                      <!-- End reported -->
                      <div class="no_vote_more"></div>
                    </div>
                    <div class="question-details">
                      <span class="question-answered"><i class="fa fa-ok"></i>in progress</span>
                      <span class="question-favorite"><i class="fa fa-star"></i>9</span>
                    </div>
                    <span class="question-category"><a href="http://2code.info/demo/themes/ask-me/question-category/wordpress/"><i class="fa fa-folder-o"></i><%= "#{question.category.name}"%> - <%= "#{question.level.name}"  %></a></span>
                    <span class="question-date" datetime="July 18, 2014"><i class="fa fa-calendar"></i><%= distance_of_time_in_words_to_now(question.updated_at)%></span>
                    <span class="question-comment"><a href="http://2code.info/demo/themes/ask-me/questions/ask-any-question-and-you-be-sure-find-your-answer-2/#comments"><i class="fa fa-comments-o"></i>59 Answer</a></span>
                    <meta itemprop="interactionCount" content="UserAnswers: 59">
                    <span class="question-view"><i class="fa fa-eye"></i>25385 views</span>
                    <span class="badge-span" style="background-color: #000000"><%= t("views.answers.difficulty_level.#{question.difficulty_level}") if question.difficulty_level %></span>      
                    <div class="clearfix"></div>
                  </div>
                </article>

                <% if [true, false].sample %>
                  <div class="clearfix"></div>
                  <div class="advertising"><a target="_blank" href="#"><img alt="" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/07/adv728x90.gif"></a></div>
                  <!-- End advertising -->
                <% end %>
                <% end %>
              </div>
            </div>

            <div class="tab-inner-warp" style="display: none;">
              <div class="tab-inner">
                <div class="page-content page-content-user">
                  <p class="no-item">No Questions Found.</p>
                </div>
              </div>
            </div>

            <% render 'partials/other_posts' %>
          </div>
          <!-- End tabs-warp -->
        </div>
        <!-- End main -->
        <%= render 'partials/sidebar' %>
        <div class="clearfix"></div>
      </div>
      <!-- End with-sidebar-container -->
    </div> 
    <!-- End row -->
  </section>
  <!-- End container -->
<!-- End wrap -->
